<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DoctorsReg</servlet-name>
        <servlet-class>DSAS.Reg.DoctorsReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientReg</servlet-name>
        <servlet-class>DSAS.Reg.PatientReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLog</servlet-name>
        <servlet-class>DSAS.Logs.DoctorLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLog</servlet-name>
        <servlet-class>DSAS.Logs.PatientLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSLog</servlet-name>
        <servlet-class>DSAS.Logs.CSLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivatePatient</servlet-name>
        <servlet-class>DSAS.Server.ActivatePatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectPatient</servlet-name>
        <servlet-class>DSAS.Server.RejectPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorActivate</servlet-name>
        <servlet-class>DSAS.Server.DoctorActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorReject</servlet-name>
        <servlet-class>DSAS.Server.DoctorReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicaldataUpload</servlet-name>
        <servlet-class>DSAS.Server.MedicaldataUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignDoctor</servlet-name>
        <servlet-class>DSAS.Server.AssignDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicaldataUpdate</servlet-name>
        <servlet-class>DSAS.Server.MedicaldataUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareDoctor</servlet-name>
        <servlet-class>DSAS.Server.ShareDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Requestdata</servlet-name>
        <servlet-class>DSAS.Server.Requestdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MRReject</servlet-name>
        <servlet-class>DSAS.Server.MRReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MRApprove</servlet-name>
        <servlet-class>DSAS.Server.MRApprove</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorsReg</servlet-name>
        <url-pattern>/DoctorsReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientReg</servlet-name>
        <url-pattern>/PatientReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLog</servlet-name>
        <url-pattern>/DoctorLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLog</servlet-name>
        <url-pattern>/PatientLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSLog</servlet-name>
        <url-pattern>/CSLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivatePatient</servlet-name>
        <url-pattern>/ActivatePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectPatient</servlet-name>
        <url-pattern>/RejectPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorActivate</servlet-name>
        <url-pattern>/DoctorActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorReject</servlet-name>
        <url-pattern>/DoctorReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicaldataUpload</servlet-name>
        <url-pattern>/MedicaldataUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignDoctor</servlet-name>
        <url-pattern>/AssignDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicaldataUpdate</servlet-name>
        <url-pattern>/MedicaldataUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareDoctor</servlet-name>
        <url-pattern>/ShareDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Requestdata</servlet-name>
        <url-pattern>/Requestdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MRReject</servlet-name>
        <url-pattern>/MRReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MRApprove</servlet-name>
        <url-pattern>/MRApprove</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
